################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/Admin.Core/Admin.Core/bin/Debug/netcoreapp3.1
