################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/Admin.Core/Admin.Core/bin/Debug/netcoreapp3.1
/API/Admin.Core/Admin.Core.Library/bin/Debug/netcoreapp3.1
/API/Admin.Core/Admin.Core.Library/obj
/API/Admin.Core/Admin.Core.Tests/bin/Debug/netcoreapp3.1
/API/Admin.Core/Admin.Core.Tests/obj
/API/Admin.Core/Admin.Core/bin/Release/netcoreapp3.1
